name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: YashasR1
          template: classic
          base: header, activity, metadata
          config_timezone: Asia/Kolkata
          # This replaces your broken "Languages" graph
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css
          plugin_languages_details: lines, bytes-size, percentage
          # This replaces your broken "Stats" graph
          plugin_lines: yes
